<ion-header>
  <ion-toolbar>
    <ion-title>Detalle de tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card *ngIf="tarea">
    <ion-card-header>
      <ion-card-subtitle>[{{tarea?.tid}}]</ion-card-subtitle>
      <ion-card-title>{{tarea?.desc}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      ({{tarea?.duracion}})
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!tarea">
    <ion-card-header>
      <ion-card-title>Selecciona una tarea primero</ion-card-title>
      <ion-button [routerLink]="['/tareas/list']">Ir a la lista</ion-button>
    </ion-card-header>
  </ion-card>

</ion-content>