<ion-app>

  <ion-menu side="start" menuId="first">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú de la app</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <ion-list>
        <ion-item>
          <ion-menu-toggle>
            <ion-button [routerLink]="['/tareas']" fill="outline">Tareas</ion-button>
          </ion-menu-toggle>
        </ion-item>
        <ion-item>
          <ion-menu-toggle>
            <ion-button [routerLink]="['/proyectos']" fill="clear">Proyectos</ion-button>
          </ion-menu-toggle>
        </ion-item>
        <ion-item>
          <ion-menu-toggle>
            <ion-button [routerLink]="['/perfil']" color="secondary">Perfil</ion-button>
          </ion-menu-toggle>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>