<ion-tabs>

  <ion-tab-bar slot="top" color="secondary" translucent="true">
    <ion-tab-button tab="list">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Lista</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="detail">
      <ion-icon name="code-working"></ion-icon>
      <ion-label>Detalle</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="new">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Nueva</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
