<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <app-menuicon></app-menuicon>
    </ion-buttons>
    <ion-title>Lista de tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let unaT of tareas">
      <ion-avatar>
        {{unaT.desc.substring(0,1)}}
      </ion-avatar>
      <ion-label>
        <h2>[{{unaT.tid}}]</h2>
        <p>{{unaT.desc}}</p>
      </ion-label>
      <ion-badge slot="end">{{unaT.duracion}}</ion-badge>
      <ion-button [routerLink]="['/tareas',unaT.tid]"><ion-icon name="eye"></ion-icon></ion-button>
    </ion-item>  
  </ion-list>
</ion-content>